html,
body {
    height: 99.0%;
}

body {
    background: rgb(22, 50, 231);
    background: linear-gradient(167deg, rgba(22, 50, 231, 1) 22%, rgba(29, 187, 253, 1) 55%, rgba(69, 252, 216, 1) 79%);
}

.calculator {
    background: rgb(22, 50, 231);
    background: linear-gradient(319deg, rgba(22, 50, 231, 1) -1%, rgba(29, 187, 253, 1) -2%, rgba(69, 252, 216, 1) 86%);
    width: 300px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 5px;
    box-shadow: -9px 6px 1px #086d7b, -23px 20px 25px rgba(0, 0, 0, 9);
}

.result {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    color: black;
    width: 90%;
    margin: 8px 0 20px 10px;
    text-align: right;
    height: 50%;
    line-height: 50px;
    font-size: 43px;
    padding-right: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: -11px 14px 27px rgba(0, 0, 0, 1);
    font-family: 'Times New Roman', Times, serif;
}

ul {
    padding: 0;
    margin: 0;

}

ul li {
    list-style: none;
    background: rgb(12, 71, 254);
    background: linear-gradient(136deg, rgba(12, 71, 254, 1) 0%, rgba(6, 241, 255, 1) 65%, rgba(0, 26, 255, 1) 137%);
    padding: 10px;
    width: 15%;
    float: left;
    margin: 5px;
    font-size: 40px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: -14px 8px 20px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease-in-out;


}

ul li:active {
    position: relative;
    top: 5px;

}

ul li:hover {
    transform: translateY(-10px);
    /* Adjust the value as needed */
}

.sign {
    color: aliceblue;
    font-size: 0.75rem;
    text-align: right;
    position: relative;
    top: 4px;
    right: 5px;
    z-index: -1;
}

ul li:nth-child(16) {
    height: 127px;
    line-height: 325%;

}

ul li:last-child {
    margin-top: -75px;
    width: 65%;
}